body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
    background-color: #098DCF;
    color: #ECF0F1;
    display: flex;
    justify-content: center;
    font-family: Consolas, "Liberation Mono";
    padding: 10px 10px;
    text-shadow: 2px 4px 4px rgb(192, 190, 190);
    width: 100%;
    margin-top: -10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.item_box {
    margin-top: 10vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.btn {
    padding: 20px 20px;
    margin-top: 5vh;
    border: none;
    background-color: aqua;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #eeeeee;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


    